<ion-view title="News">
  <ion-content>
   <div class="div-cover">
      <div class="">
        <div class="news-category">
          <i class="ion-ios7-camera"></i> category
        </div>
        <div class="news-image">
          <img src="img/news/news-2.jpg">
        </div> 
        <div class="news-title">
        title
        </div>
      </div>
    </div>
      
    <div class="container" id="container">
      <div ng-repeat="n in news" type="item-text-wrap" href="#/tab/news/{{n.id}}"  class="masonry-brick">
        <div class="news-category">
          <i class="ion-ios7-camera"></i> {{n.category}}
        </div>
        <div class="news-image">
          <img src="img/news/news-{{n.id}}.jpg">
        </div> 
        <div class="news-title">
          {{n.title}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
